h1 {
  font-family: Parisienne;
  font-color: #74c75b;
}

.silver-text {
  color:#d9d9d9;
}
  
  
p {
  font-size: 14px;
  font-family: Allura;
  font-color:#000000;
}
  
.larger-image {
  width: 400px;
}
  
.smaller-image {
  width: 150px;
  border-radius: 10px;
}
.thin-black-border {
  border-color: black;
  border-width: 5px;
  border-style: solid;
}